input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.blockquote-footer {
  margin-bottom: 0em;
}

.nav-item {
  margin-left: 10px;
  margin-top: 0.1em;
}
